@import '../../../variables';

.addButton{
  background: $active-color;
  border-radius: 30px;
  padding: 13px 16px;
  font-weight: 300;
  line-height: 15px;
  transition: background-color 0.6s;

  &:hover{
    background-color: $active-hover-color;
  }
}