.main{
  margin-top: 60px;
}

.title{
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
}

.top{
  margin-top: 27px;
  display: grid;
  grid-template:  1fr / repeat(3, 1fr);

  .top_sort{
    display: flex;
  }

  .advise{
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    padding: 0 80px;
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

.favorites{
  margin-top: 53px;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
