@import "../../../styles/mediaQueries";
@import "../../../styles/variables";


.main {
  transition: all 0.5s ease;
  margin-top: 60px;

}

.main_down {
  margin-top: 180px;
  transition: all 0.5s ease;
}

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 53px;

  .top_sort {
    flex-basis: 40%;
  }

  .advise {
    flex-basis: 60%;
    text-align: center;
    padding: 0 80px;
  }
}

.top_tasks{
  margin-top: 53px;
  margin-bottom: -35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show_all{
  display: flex;
  gap: 7px;

  span{
    color: $active-color;
  }
}

@media (max-width: 555px) {

  .main_down {
    margin-top: 150px;
    transition: all 0.5s ease;
  }
}

@media (max-width: 550px) {
  .favorites {
    margin-top: 50px;
  }
}

@media (max-width: 440px) {
  .difTasks{
    margin: -40px 0 20px 0;
  }
}