@import "../../../styles/variables";

.myInput{
  border-radius: 30px;
  background-color: $main-color;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  padding: 7px 16px 7px ;
  width: 100%;
  border: 1px solid $main-color;

  &:focus{
    border: 1px solid #b9b9b9;
  }
}

.error {
  border: 1px solid $active-color !important;
  opacity: 0.8;
}