@import "../../../../variables";

.btn {
  background: $main-color;
  border-radius: 30px;
  height: 41px;
  padding: 0 13px;
  font-weight: 300;
  line-height: 23px;

  &::after{
    content: url("../../../../../public/img/icon-arrow.svg");
    margin-left: 15px;
  }
}

.btn_active {
  background: $active-color;
}
.btn_active_revers {
  background: $active-color;
  &::after{
    content: url("../../../../../public/img/icon-arrow.svg");
    margin-left: 15px;
    transform: rotate(180deg);
  }
}