@import 'reset.module.css';

#root{
  display: flex;
  justify-content: center;
  font-family: Ubuntu, serif;
  font-size: 20px;
  color: #bdcce3;
  overflow-y: hidden;
  background-color: #1F2936FF;
}
