@import "../../../styles/mediaQueries";

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 53px;

  .top_sort {
    flex-basis: 40%;
  }

  .advise {
    flex-basis: 60%;
    text-align: center;
    padding: 0 80px;
  }
}

.all_tasks {
  width: 100%;
  transition: all 0.5s ease;

  h3 {
    margin-top: 35px;
  }
}

.all_tasks__down {
  margin-top: 180px;
  transition: all 0.5s ease;
}