@import "../../../styles/mediaQueries";

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 53px;

  .top_sort {
    flex-basis: 40%;
  }

  .advise {
    flex-basis: 60%;
    text-align: center;
    padding: 0 80px;
  }
}

.tasks_container {
  h3{
    margin-top: 45px;
    margin-bottom: -35px;
  }
}

.tasks{
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 20px;
  grid-auto-flow: row;
}