@import "../../../variables";

.divMyInput{
  display: flex;
  position: relative;
  width: 100%;

  &::after{
    content: url("../../../../public/img/icon-search.svg");
    position: absolute;
    top: 11%;
    left: 89%;
  }
}

.myInput {
  border-radius: 30px;
  background-color: $main-color;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  padding: 8px 44px 8px 16px ;
  width: 100%;
  border: 1px solid $main-color;

  &::placeholder{
    color: #B5B5B5;
  }


  &:focus{
    border: 1px solid #b9b9b9;
  }
}