.header{
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logo{
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
}
.link{
    font-size: 22px;
    line-height: 23px;
}