@import "src/styles/variables";

.tasks_container{
  margin-top: 35px;
  width: 100%;
  position: relative;
}
.btnShow_container{
  display: flex;
  justify-content: right;

}
.btnShow{
  margin-bottom: 5px;
}

.tasks{
  position: relative;
  h3{
    margin: 35px auto 0;
    display: flex;
    font-size: 24px;
    justify-content: center;
    font-weight: 300;
    height: 120px;
  }

  &:hover .btnNavContainer .button-next-slide{
    opacity: 0.5;
  }
  &:hover .btnNavContainer .button-prev-slide{
    opacity: 0.5;
  }
}

.btnNavContainer {
  width: 100%;
  height: 93%;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

.button-prev-slide {
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: #777777;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s ease;

  &:after{
    content: url("../../../../public/img/left-arrow.svg");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -42%);
  }

  &:hover {
    opacity: 0.8 !important;
  }

}
.button-next-slide {
  position: relative;
  background-color: #777777;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s ease;

  &:after{
    content: url("../../../../public/img/rigth-arrow.svg");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -42%);
  }

  &:hover {
    opacity: 0.8 !important;
  }
}

.swiper-button-disabled{
  opacity: 0 !important;
  z-index: -1;
  &:hover{
    opacity: 0 !important;
  }
  transition: none;
}

@media (max-width: 1000px) {
  .button-prev-slide,
  .button-next-slide {
   opacity: 0.6;
  }
}

@media (max-width: 550px) {
  .swiper-wrapper {
    height: 443px !important;
  }

  .swiper-slide {
    overflow: hidden;
    height: calc((100% - 30px) / 2) !important;
  }
}

@media (max-width: 440px) {
  .swiper-wrapper {
    height: 480px !important;
  }

  .swiper-slide {
    overflow: hidden;
    height: calc((100% - 60px) / 3) !important;
  }

  .tasks{
    h3{
      height: 50px;
    }
  }
}