@import "src/styles/variables";

.tasks_container{
  margin-top: 50px;
  width: 100%;
  position: relative;
  min-height: 193px;
}
.btnShow_container{
  display: flex;
  justify-content: right;

}

.tasks{
  position: relative;
  h3{
    margin: 35px auto 0;
    display: flex;
    font-size: 24px;
    justify-content: center;
    font-weight: 300 !important;
    height: 120px;
  }

  &:hover .btnNavContainer .button-next-slide{
    opacity: 0.3;
  }
  &:hover .btnNavContainer .button-prev-slide{
    opacity: 0.3;
  }
}

.btnNavContainer {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

.button-prev-slide {
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: $active-color;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s ease;

  &:after{
    content: url("../../../../public/img/left-arrow.svg");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -42%);
  }

  &:hover {
    opacity: 0.5 !important;
  }

}
.button-next-slide {
  position: relative;
  background-color: $active-color;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s ease;

  &:after{
    content: url("../../../../public/img/rigth-arrow.svg");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -42%);
  }

  &:hover {
    opacity: 0.5 !important;
  }
}

.swiper-button-disabled{
  opacity: 0 !important;
  z-index: -1;
  &:hover{
    opacity: 0 !important;
  }
  transition: none;
}

@media (max-width: 1000px) {
  .button-prev-slide,
  .button-next-slide {
   opacity: 0.4;
  }
}

@media (max-width: 550px) {
  .swiper-wrapper {
    height: 443px !important;
  }

  .swiper-slide {
    overflow: hidden;
    height: calc((100% - 30px) / 2) !important;
  }
  .tasks {
    .btnNavContainer {
      height: 93%;
    }
  }
}

@media (max-width: 440px) {
  .tasks_container{
    min-height: 140px;
  }

  .swiper-wrapper {
    height: 480px !important;
  }

  .swiper-slide {
    overflow: hidden;
    height: calc((100% - 60px) / 3) !important;
  }

  .tasks{
    h3{
      height: 50px;
    }
  }
}


.fav_tasks{

  @media (max-width: 440px) {
    .swiper-wrapper {
      height: 210px !important;
    }

    .swiper-slide {
      overflow: hidden;
      height: calc((100% - 60px)) !important;
    }

    .btnNavContainer {
      height: 68%;
    }
  }

  @media (max-width: 550px) {
    .swiper-wrapper {
      height: 210px !important;
    }

    .swiper-slide {
      overflow: hidden;
      height: 100% !important;
    }
  }
}