@import '../../../variables';

.myTextarea {
  border-radius: 30px;
  background-color: $main-color;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  padding: 8px 16px 8px ;
  width: 100%;
  border: 1px solid $main-color;
  resize: none;
  min-height: 150px;


  &:focus{
    border: 1px solid #b9b9b9;
  }
}